<div class="split-layout">
  <div class="form-side">
    <div class="auth-card" style="max-width: 500px;">
      <div class="auth-header">
        <h2>Join UniTrack</h2>
        <p>Create your student account</p>
      </div>

      <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" nzLayout="vertical">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>First Name</nz-form-label>
              <nz-form-control nzErrorTip="Please input your first name!">
                <input nz-input formControlName="firstName" placeholder="John" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Last Name</nz-form-label>
              <nz-form-control nzErrorTip="Please input your last name!">
                <input nz-input formControlName="lastName" placeholder="Doe" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item>
          <nz-form-label nzRequired>Student Email</nz-form-label>
          <nz-form-control nzErrorTip="Valid email required">
            <input type="email" nz-input formControlName="email" placeholder="john.doe@student.unitbv.ro" />
          </nz-form-control>
        </nz-form-item>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Password</nz-form-label>
              <nz-form-control nzErrorTip="Min 6 chars required.">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Confirm Password</nz-form-label>
              <nz-form-control [nzErrorTip]="registerForm.errors?.['passwordsMismatch'] ? 'Passwords do not match!' : 'Please confirm!'">
                <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item>
          <nz-form-label nzRequired>Faculty</nz-form-label>
          <nz-form-control nzErrorTip="Please select your faculty!">
            <nz-select formControlName="faculty" nzPlaceHolder="Select Faculty">
              <nz-option *ngFor="let fac of faculties" [nzValue]="fac" [nzLabel]="fac"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Specialization</nz-form-label>
              <nz-form-control nzErrorTip="Select specialization!">
                <nz-select formControlName="specialization" nzPlaceHolder="Select">
                  <nz-option *ngFor="let spec of specializations" [nzValue]="spec" [nzLabel]="spec"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Study Year</nz-form-label>
              <nz-form-control nzErrorTip="Select year!">
                <nz-select formControlName="studyYear" nzPlaceHolder="Select">
                  <nz-option *ngFor="let year of studyYears" [nzValue]="year" [nzLabel]="year"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <button nz-button class="register-form-button" [nzType]="'primary'" [nzLoading]="isLoading" nzBlock>
          Create Account
        </button>

        <div class="login-link">
          Already have an account? <a routerLink="/auth/login">Log in here!</a>
        </div>
      </form>
    </div>
  </div>
  
  <div class="visual-side">
    <div class="visual-content">
      <h1>Join the community.</h1>
      <p>Sign up in seconds and gain full control over your academic progress. We make university life easier.</p>
    </div>
  </div>
</div>
