<div class="split-layout">
  <div class="form-side">
    <div class="auth-card" style="max-width: 500px;">
      <div class="auth-header">
        <h2>Join UniTrack</h2>
        <p>Create your student account</p>
      </div>

      <form nz-form [formGroup]="registerForm" (ngSubmit)="submitForm()" nzLayout="vertical">
        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>First Name</nz-form-label>
              <nz-form-control nzErrorTip="Please input your first name!">
                <input nz-input formControlName="firstName" placeholder="John" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Last Name</nz-form-label>
              <nz-form-control nzErrorTip="Please input your last name!">
                <input nz-input formControlName="lastName" placeholder="Doe" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item>
          <nz-form-label nzRequired>Student Email</nz-form-label>
          <nz-form-control [nzErrorTip]="emailErrorTpl">
            <input type="email" nz-input formControlName="email" placeholder="john.doe@student.unitbv.ro" />
            <ng-template #emailErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Valid email required!</ng-container>
              <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
              <ng-container *ngIf="control.hasError('studentEmail')">You must use an institutional email (@student.uni.ro or @student.unitbv.ro).</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Password</nz-form-label>
              <nz-form-control [nzErrorTip]="passwordErrorTpl">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
                <ng-template #passwordErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">Please input your password!</ng-container>
                  <ng-container *ngIf="control.hasError('minlength')">Password must be at least 6 characters.</ng-container>
                  <ng-container *ngIf="control.hasError('strongPassword')">Must contain uppercase, lowercase, number & special char.</ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Confirm Password</nz-form-label>
              <nz-form-control [nzErrorTip]="registerForm.errors?.['passwordsMismatch'] ? 'Passwords do not match!' : 'Please confirm!'">
                <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <nz-form-item>
          <nz-form-label nzRequired>Faculty</nz-form-label>
          <nz-form-control nzErrorTip="Please select your faculty!">
            <nz-select formControlName="faculty" nzPlaceHolder="Select Faculty">
              <nz-option *ngFor="let fac of faculties" [nzValue]="fac" [nzLabel]="fac"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <div nz-row [nzGutter]="16">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Specialization</nz-form-label>
              <nz-form-control nzErrorTip="Please select your specialization!">
                <nz-select formControlName="specialization" nzPlaceHolder="Select specialization" [nzDisabled]="!availableSpecializations.length">
                  @for (spec of availableSpecializations; track spec) {
                    <nz-option [nzValue]="spec" [nzLabel]="spec"></nz-option>
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label nzRequired>Study Year</nz-form-label>
              <nz-form-control nzErrorTip="Select year!">
                <nz-select formControlName="studyYear" nzPlaceHolder="Select">
                  @for (year of studyYears; track year) {
                    <nz-option [nzValue]="year" [nzLabel]="year"></nz-option>
                  }
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <button nz-button class="register-form-button" [nzType]="'primary'" [nzLoading]="isLoading" nzBlock>
          Create Account
        </button>

        <div class="login-link">
          Already have an account? <a routerLink="/auth/login">Log in here!</a>
        </div>
      </form>
    </div>
  </div>
  
  <div class="visual-side">
    <div class="visual-content">
      <h1>Join the community.</h1>
      <p>Sign up in seconds and gain full control over your academic progress. We make university life easier.</p>
    </div>
  </div>
</div>
